@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Montserrat", "sans-serif";
    --color-green: #3B9842;
    --breakpoint-xs: 24rem;
}

/**********************
 * Heading Styles
 *********************/

p {
    font-size: var(--text-base);
    color: var(--color-gray-700);
}

h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
}

h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
}
